<div class="checkout-page">
  <form #f="ngForm" (ngSubmit)="f.valid && agreeTerm.value && register()" novalidate>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
        <div class="your-details">
          <h3>Create new account</h3>
          <div *ngIf="f.submitted && !f.valid" class="error-input red">
            <h5>Your inforation invalid!</h5>
          </div>
          <br><br>
          <div class="form-row">
            <label class="lebel-abs">First name <strong class="red">*</strong></label>
            <input type="text" class="input namefild" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required>
            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="error-input red">
              <span [hidden]="!firstName.errors.required">First name can't blank!</span>
            </div>
          </div>

          <div class="form-row">
            <label class="lebel-abs">Last name <strong class="red">*</strong></label>
            <input type="text" class="input namefild" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required>
            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="error-input red">
              <span [hidden]="!lastName.errors.email">Last name can't blank!</span>
            </div>
          </div>

          <div class="form-row">
            <label class="lebel-abs">Email <strong class="red">*</strong></label>
            <input type="email" email class="input namefild" name="email" [(ngModel)]="model.email" #email="ngModel" required>
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="error-input red">
              <span [hidden]="!email.errors.email">Invalid email!</span>
            </div>
          </div>

          <div class="form-row">
            <label class="lebel-abs">Password <strong class="red">*</strong></label>
            <input type="password" class="input namefild" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength="6">
            <div *ngIf="password.errors && (password.dirty || password.touched)" class="error-input red">
              <span [hidden]="!password.errors.required">Password cant't blank!</span>
              <span [hidden]="!password.errors.minlength">Password too short!</span>
            </div>
          </div>

          <div class="form-row">
            <label class="lebel-abs">Confirm Password <strong class="red">*</strong></label>
            <input type="password" pattern="{{model.password}}" class="input cpass" name="confirmPassword" [(ngModel)]="model.confirmPassword"
              #confirmPassword="ngModel" required>
            <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="error-input red">
              <span [hidden]="!confirmPassword.errors.pattern">Wrong confirm password!</span>
              <span [hidden]="!confirmPassword.errors.required">Confirm password can't blank!</span>
            </div>
          </div>

          <p class="privacy">
            <span class="input-radio"><input type="radio" name="agreeTerm" [(ngModel)]="model.agreeTerm" #agreeTerm="ngModel" value="true"></span>
            <span class="text">I have read and agree to the <a href="#" class="red">Privacy Policy</a></span>
            <br><span *ngIf="f.submitted && !agreeTerm.value" class="red">You must agrre our privacy policy!</span>
          </p>
          <div>
            <button type="submit" [disabled]="loading">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>